<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=folderName%></title>
    <script defer src="/folder.js"></script>
</head>
<body>
    <h1><%=folderName%></h1>
    <section id="links__container">
        <ul class="links__container">
        </ul>
    </section>

    <section id="btns__container">
        <button class="btns__newLink">항목 추가</button>
        <button class="btns__deleteAll">전체 삭제</button>
    </section>

    
</body>
</html>